img {
    width: 100px;
    height: auto;
    margin-right: 10px;
    float: left;
    margin-right: 10px;
}


h1 {
    text-align: left;
    font: 1em sans-serif;
    font-size: medium;
}

p {
    text-align: left;
}

body {
    background-color: wheat;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

footer {
    background-color: brown;
}